/* Sticky footer styles
-------------------------------------------------- */


.todo {
    background-color: yellow;
}
.todo:hover {
    background-color: white;
}

.no-top-buffer {
    margin-top:0px;
}
.top-buffer {
    margin-top:20px;
}

.bottom-buffer {
    margin-bottom:20px;
}
