/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
#footer {
    display: inline-block;
    color:#f0f9ff;
    background-color:#282d32;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    text-align: center;
    vertical-align: center;
}

#footer span {
    display: inline-block;
    vertical-align: middle;
}

.todo {
    background-color: yellow;
}
.todo:hover {
    background-color: white;
}

.top-buffer {
    margin-top:20px;
}

.bottom-buffer {
    margin-bottom:20px;
}
