#EmoryQuad {
  width:100%;
}

#ranking {
  color:brown;
}

#ranking_container.container {
}

#body_row.row {
  margin-bottom:100px;
}

#prev_button.btn.btn-default.btn-lg {
  position:absolute;
  transition:.5s ease;
  bottom:2%;
  left:2%;
}

#next_button.btn.btn-default.btn-lg {
  transition:.5s ease;
  bottom:2%;
  right:2%;
  position:absolute;
}

