{% extends 'base.html' %}
{% block title %} Flag {% endblock title %}

{% load static %}

{% block content %}
<h4 class="todo">TODO: The view already has the id of the college ({{flag}}) so all that needs to be done is flag this college</h4>

<p>Keep it simple? Could maybe provide simple options to the user (such as picture error, data error, graph error)</p>
<p>The point of this feature is so during the showcase if we come across a college that has an obvious mistake we can play it off.</p>
{% endblock %}
