{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/next-prev-button.css' %}">
{% endblock %}

<div class="row">
    {% if results.has_previous %}
        <form action="?page={{ results.previous_page_number }}" method="POST">
            {% csrf_token %}
            {{ form.paginate_by.as_hidden }}
            <button type="submit"><span class="prev">Previous</span></button>
        </form>
    {% endif %}
    <span class="current">
        Page {{ results.number }} of {{ results.paginator.num_pages }}
    </span>
    {% if results.has_next %}
        <form action="?page={{ results.next_page_number }}" method="POST">
            {% csrf_token %}
            {{ form.paginate_by.as_hidden }}
            <button type="submit"><span class="next">Next</span></button>
        </form>
    {% endif %}
</div>
