{% extends 'base.html' %}
{% block title %} Colleges {% endblock title %}

{% load static %}

{% block template_style %}<link rel="stylesheet" href="{% static 'assets2/css/user.css' %}">{% endblock template_style %}
{% block content %}
    <div class="container-fluid">
        <!-- Page Title -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>College Database</h1>
            </div>
        </div>

        <!-- Page Search Bar -->
        <div class="row" style="margin-right:0px;">
            <form method="POST" action="?page=1">
                {% csrf_token %}
                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        {{form.query}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{form.college_size.id_for_label}}" class="control-label col-sm-5 text-right">Student Population</label>
                        <div class="col-sm-7">
                            {{form.college_size}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{form.paginate_by.id_for_label}}" class="control-label col-sm-3 text-right">Results per page</label>
                        <div class="col-sm-4">
                            {{form.paginate_by}}
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default pull-right">Search <span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
        </div>
        {% if results != None %}
            <div class="row" style="margin-right: 0px;">
                <div class="col-md-5 col-md-offset-1">
                    <h4>Found {{num_results}} results</h4>
                </div>
                {% if pagination %}
                <div class="col-md-5 text-right">
                    <h4>Page {{ results.number }} of {{ results.paginator.num_pages }}</h4>
                </div>
                {% endif %}
            </div>
            <div class="list-group col-md-10 col-md-offset-1">
               {% for r in results %}
                     <a href="{{ r.get_absolute_url }}" class="list-group-item">
                         <div class="row">
                            <div class="col-md-6">
                                <h4 class="list-group-item-heading">{{r.university}}</h4>
                            </div>
                            <div class="col-md-6">
                                <p class="list-group-item-text text-right">{{r.city}}, {{r.state.location}}</p>
                                <p class="list-group-item-text text-right"><small>Enrollment: {{r.enrollment_undergrad }}</small></p>
                            </div>
                        </div>
                     </a>
                {% endfor %}
            </div>
            {% if pagination %}
                <div class="row bottom-buffer">
                    <form class="form-inline" method="POST">
                        {% csrf_token %}
                        {{ form.paginate_by.as_hidden }}
                        {{ form.college_size.as_hidden }}
                        <div class="col-md-6">
                            {% if results.has_previous %}
                                <button type="submit" class="btn btn-primary btn-md pull-right" formaction="?page={{ results.previous_page_number }}">Previous</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if results.has_next %}
                                <button type="submit" class="btn btn-primary btn-md pull-left" formaction="?page={{ results.next_page_number }}">Next</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
