{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% load static %}

{% block template_style %}<link rel="stylesheet" href="{% static 'assets/css/About.css' %}">{% endblock template_style %}

{% block content %}
<div class="container-fluid">
    <div class="row row-bordered">
        <div class="col-md-10 col-md-offset-1 text-center">
            <hr style="border-top: 1px solid #8c8b8b;">
                <h1>About Us</h1>
            <hr style="border-top: 1px solid #8c8b8b;">
        </div>
    </div>
    <div class="row bottom-buffer top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h3>UAP Goal</h3>
            <p> Our goal is to make diversity and inclusion resources more accessible to students, faculty, and consultants about post-secondary education. For each university, we map diversity statistics relative to state demographics, and we show relative cost depending on family income. We also show socio-economic diversity by listing the percent of students that receive Pell grants, which indicates the percent of student body whose family income makes less than $40k.
                <br>
                <br> Beyond just numbers, we also hope to foster discussion concerning social issues on campuses. We have a "Resources" tab, where individuals can list problematic statements, and other people in the UAP community can respond with facts, statistics, and research publications. Our goal is create a centralized database where people around the world can create high quality counter arguments against oppressive, problematic paradigms.</p>
        </div>
        <div class="col-md-5">
            <img src="http://philosophy.emory.edu/home/images/hero/bowen-quad.jpg" class="img-responsive">
        </div>
    </div>
    <div class="row bottom-buffer top-buffer">
        <div class="col-md-5 col-md-offset-1 text-center">
            <div class="row bottom-buffer top-buffer">
                <div class="col-md-1 col-md-offset-2">
                    <img src="{% static 'assets/img/PhilHeadshot.jpg' %}" class="Headshot">Phil Edwards
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <img src="{% static 'assets/img/PhilHeadshot.jpg' %}" class="Headshot">Phil Edwards
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <img src="{% static 'assets/img/PhilHeadshot.jpg' %}" class="Headshot">Phil Edwards
                </div>
            </div>
             <div class="row bottom-buffer top-buffer">
                <div class="col-md-1 col-md-offset-2">
                    <img src="{% static 'assets/img/PhilHeadshot.jpg' %}" class="Headshot">Phil Edwards
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <img src="{% static 'assets/img/PhilHeadshot.jpg' %}" class="Headshot">Phil Edwards
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <img src="{% static 'assets/img/PhilHeadshot.jpg' %}" class="Headshot">Phil Edwards
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h3>Healthy Coding</h3>
            <p>Our coding team hopes to make a positive difference. We hope students will be better informed about what schools are affordable, the socio-economic diversity, and the resources that the school provides to help their students thrive.</p>
        </div>
    </div>
    <div class="row bottom-buffer top-buffer">
        <div class="col-md-10 col-md-offset-1">
            <h3>Software Used: <a href="https://github.com/Healthy-Coding">Healthy Coding Github</a></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <hr style="border-top: 1px solid #8c8b8b;">
                <h1>Data Sources</h1>
            <hr style="border-top: 1px solid #8c8b8b;">
        </div>
    </div>
    <div class="row bottom-buffer top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h3>College Board</h3>
            <p> Our goal is to make diversity and inclusion resources more accessible to students, faculty, and consultants about post-secondary education. For each university, we map diversity statistics relative to state demographics, and we show relative cost depending on family income. We also show socio-economic diversity by listing the percent of students that receive Pell grants, which indicates the percent of student body whose family income makes less than $40k.
                <br>
                <br> Beyong just numbers, we also hope to foster discussion concerning social issues on campuses. We have a "Resources" tab, where individuals can list problematic statements, and other people in the UAP community can respond with facts, statistics, and research publications. Our goal is create a centralized database where people around the world can create high quality counter arguments against oppressive, problematic paradigms.</p>
        </div>
        <div class="col-md-5">
            <img src="http://philosophy.emory.edu/home/images/hero/bowen-quad.jpg" class="img-responsive">
        </div>
    </div>
    <div class="row bottom-buffer top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h3>College Data</h3>
            <p> Our goal is to make diversity and inclusion resources more accessible to students, faculty, and consultants about post-secondary education. For each university, we map diversity statistics relative to state demographics, and we show relative cost depending on family income. We also show socio-economic diversity by listing the percent of students that receive Pell grants, which indicates the percent of student body whose family income makes less than $40k.
                <br>
                <br> Beyong just numbers, we also hope to foster discussion concerning social issues on campuses. We have a "Resources" tab, where individuals can list problematic statements, and other people in the UAP community can respond with facts, statistics, and research publications. Our goal is create a centralized database where people around the world can create high quality counter arguments against oppressive, problematic paradigms.</p>
        </div>
        <div class="col-md-5">
            <img src="http://philosophy.emory.edu/home/images/hero/bowen-quad.jpg" class="img-responsive">
        </div>
    </div>
    <div class="row bottom-buffer top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h3>National Center for Education Statistics (NCES)</h3>
            <p> Our goal is to make diversity and inclusion resources more accessible to students, faculty, and consultants about post-secondary education. For each university, we map diversity statistics relative to state demographics, and we show relative cost depending on family income. We also show socio-economic diversity by listing the percent of students that receive Pell grants, which indicates the percent of student body whose family income makes less than $40k.
                <br>
                <br> Beyong just numbers, we also hope to foster discussion concerning social issues on campuses. We have a "Resources" tab, where individuals can list problematic statements, and other people in the UAP community can respond with facts, statistics, and research publications. Our goal is create a centralized database where people around the world can create high quality counter arguments against oppressive, problematic paradigms.</p>
        </div>
        <div class="col-md-5">
            <img src="http://philosophy.emory.edu/home/images/hero/bowen-quad.jpg" class="img-responsive">
        </div>
    </div>
    <div class="row bottom-buffer top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <h3>Bing</h3>
            <p> Our goal is to make diversity and inclusion resources more accessible to students, faculty, and consultants about post-secondary education. For each university, we map diversity statistics relative to state demographics, and we show relative cost depending on family income. We also show socio-economic diversity by listing the percent of students that receive Pell grants, which indicates the percent of student body whose family income makes less than $40k.
                <br>
                <br> Beyong just numbers, we also hope to foster discussion concerning social issues on campuses. We have a "Resources" tab, where individuals can list problematic statements, and other people in the UAP community can respond with facts, statistics, and research publications. Our goal is create a centralized database where people around the world can create high quality counter arguments against oppressive, problematic paradigms.</p>
        </div>
        <div class="col-md-5">
            <img src="http://philosophy.emory.edu/home/images/hero/bowen-quad.jpg" class="img-responsive">
        </div>
    </div>

    <!-- Coding Documentation -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <hr style="border-top: 1px solid #8c8b8b;">
                <h1>Technical Documentation</h1>
            <hr style="border-top: 1px solid #8c8b8b;">
        </div>
    </div>




</div>
{% endblock content %}
