<!DOCTYPE html>
{% load static %}
{% load markdown_deux_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Home {% endblock title %} | UAP </title>
        <link rel="stylesheet" href="{% static 'assets2/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets2/css/user.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/user.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/About.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/material-icons.css' %}">
        <link rel="stylesheet" href="{% static 'assets2/css/styles.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"><body>
        {% block extra_styles %}{% endblock %}
    </head>
    <body>
        {# Header #}
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="{% url 'Home:home' %}"><span class="glyphicon glyphicon-education"></span> University Accountability Project</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if nbar == 'about' %}active{% endif %}"><a href="{% url 'Home:about' %}">About</a></li>
                    <li class="{% if nbar == 'colleges' %}active{% endif %}"><a href="{% url 'Colleges:search' %}">Colleges</a></li>
                    <li class="{% if nbar == 'blog_search' %}active{% endif %}"><a href="{% url 'Resources:search' %}">Resources</a></li>
                    <li class="{% if nbar == 'contact' %}active{% endif %}"><a href="{% url 'Home:contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </nav>
        {# Document Body #}
        <div id="body">
            {% block content %}
                Error displaying page
            {% endblock content %}
        </div>
        {# Footer #}
        <div id="footer">
            <span>Healthy Coding © 2017</span>
        </div>
    </body>

    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static 'assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}

    {% block markdown_javascript %}
        <script src="{% static 'assets/js/jquery.markdown.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock markdown_javascript %}
</html>
