{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% load static %}


{% block content %}
<!-- Site Title -->
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>
            <em>Our Goal is to Increase Diversity, Inclusion, and Retention on College Campuses Nation Wide</em> <br>
            <small>-Healthy Coding Team</small>
        </h1>
        <b><em><p> We compiled inclusion, diversity, and financial accessibility information from College Data, College Board, National Center for Education Statistics, and the US Census so students, faculty, and diversity consultants can make more informed decisions to address their accountability goals.</p></em></b>
    </div>
</div>


<!-- Panel images to each part of the website -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4 text-center">
            <p>Search college <b>financial</b> and <b>socio-economic diversity</b> information</p>
            <a href="{% url 'Colleges:search' %}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img src="{% static 'assets/img/College8.jpg' %}" class="center-block img-responsive">
                    </div>
                    <div class="panel-heading text-center">
                        <h4>Financial Accessibility</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <p>Search college <b>ethnic</b> and <b>racial diversity</b> information</p>
            <a href="{% url 'Colleges:search' %}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img src="{% static 'assets/img/College9.jpg' %}" class="center-block img-responsive">
                    </div>
                    <div class="panel-heading text-center">
                        <h4>Diversity Accountability</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <p><b>Blog: </b> helpful topics regarding race, education, diversity</p>
            <a href="{% url 'Resources:search' %}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img src="{% static 'assets/img/College10.jpg' %}" class="center-block img-responsive">
                    </div>
                    <div class="panel-heading text-center">
                        <h4>Resources</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
