{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% load static %}


{% block content %}
<!-- Site Title -->
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>
            <em>Our Goal is to Increase Diversity, Inclusion, and Retention on College Campuses Nation Wide</em> <br>
            <small>-Healthy Coding Team</small>
        </h1>
        <b><em><p> We compiled inclusion, diversity, and financial accessibility information from College Data, College Board, National Center for Education Statistics, and the US Census so students, faculty, and diversity consultants can make more informed decisions to address their accountability goals.</p></em></b>
    </div>
</div>


<!-- Panel images to each part of the website -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4 text-center">
            <p>Search college <b>financial</b> and <b>socio-economic diversity</b> information</p>
            <a href="{% url 'Colleges:search' %}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img src="{% static 'assets/img/College8.jpg' %}" class="center-block img-responsive">
                    </div>
                    <div class="panel-heading text-center">
                        <h4>Financial Accessibility</h4>
                    </div>
                </div>
            </a>
            <p>To help students understand the financial costs of a university we display the relative cost per income braket for each University.  We also show median graduating income and debt so that students can calculate both the cost of attending and their financial status upon graduation.  <br>
            <br>
            Additionally we give a representation of the socio-economic diversity of a University by showing the percentage of students who are recipients of Pell grants.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <p>Search college <b>ethnic</b> and <b>racial diversity</b> information</p>
            <a href="{% url 'Colleges:search' %}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img src="{% static 'assets/img/College9.jpg' %}" class="center-block img-responsive">
                    </div>
                    <div class="panel-heading text-center">
                        <h4>Diversity Accountability</h4>
                    </div>
                </div>
            </a>
             <p>  To show students the diversity of a university we compare metrics from College Board, College Data, and the National Center for Education Statistics.  Additionally we display US Census state data so that students can understand how diverse the university is in comparison to its location
            </p>
        </div>
        <div class="col-md-4 text-center">
            <p><b>Blog: </b> helpful topics regarding race, education, diversity</p>
            <a href="{% url 'Resources:search' %}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img src="{% static 'assets/img/College10.jpg' %}" class="center-block img-responsive">
                    </div>
                    <div class="panel-heading text-center">
                        <h4>Resources</h4>
                    </div>
                </div>
            </a>
            <p>In the socially connected world that we live in, news stories emerge that students do not know how to respond to.  To help students understand these sitatuations and formulate strong responce arguements the University Accountability Project connects students with articles and resources needed to create strong responces.  In addition we allow students to submit the stories they are concerned with in order to help them provide strong and thoughtful repsonces.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
